@charset "UTF-8";

:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1170px;
    --container-pi: 10px;
    --header-height: 60px;
    --base-cristal-white: #fff;
    --base-rich-black: #053969;
    --brandbook-main: #4c33e4;
    --brandbook-grass: #9ed6a1;
    --brandbook-bordo: #760000;
    --brandbook-bottons: #204f3d;
    --brandbook-more: #f22a52;
    --buttons-white: #fff;
    --buttons-yellow: #4c33e4;
    --buttons-green: #2dbe64;
    --buttons-blue: #00a3ff;
    --buttons-red: #fe4928;
    --buttons-violet: #7b61ff;
    --gray-gray-10: #fafaff;
    --gray-gray-20: #f0f1ed;
    --gray-gray-30: #e6e6f0;
    --gray-gray-40: #bcbccc;
    --gray-gray-50: #9393a3;
    --gray-gray-60: #67677a;
    --gray-gray-70: #3e3e52;
    --tech-hot-red: #f00;
    --tech-sky: #00a3ff;
    --tech-greentekila: #0ff14e;
    --tech-barbie: #ff00a8;
    --zIndex: 999;
    --zIndexSelectDropdown: 99;
}

@media (min-width: 768px) {
    :root {
        --header-height: 70px;
    }
}

@media (min-width: 1200px) {
    :root {
        --header-height: 90px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Regular.woff2") format("woff2"), url("../fonts/golos/GolosText-Regular.woff") format("woff"), url("../fonts/golos/GolosText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Medium.woff2") format("woff2"), url("../fonts/golos/GolosText-Medium.woff") format("woff"), url("../fonts/golos/GolosText-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/golos/GolosText-SemiBold.woff") format("woff"), url("../fonts/golos/GolosText-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Bold.woff2") format("woff2"), url("../fonts/golos/GolosText-Bold.woff") format("woff"), url("../fonts/golos/GolosText-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter"), local("Inter"), url("../fonts/inter/Inter-SemiBold.woff2") format("woff2"), url("../fonts/inter/Inter-SemiBold.woff") format("woff"), url("../fonts/inter/Inter-SemiBold.ttf") format("truetype");
}

body {
    font-family: "Golos";
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1.3;
    font-weight: 400;
    color: var(--base-rich-black, #053969);
    background: var(--gray-gray-20, #f0f1ed);
}

body.no-scroll {
    overflow: hidden;
}

/*
<button class="button" type="button">
  Кнопка
  <span class="button__icon">
    <svg>
      <use
        href="../images/sprite.svg#arrow"
        xlink:href="../images/sprite.svg#arrow"
      ></use>
    </svg>
  </span>
</button>
*/
.button {
    --button-height: 3.25rem;
    --button-pl: 1.25rem;
    --button-pr: 0.938rem;
    --button-fs: 1rem;
    --button-border-radius: 0.625rem;
    --button-clr: var(--base-cristal-white, #ffffff);
    --button-clr-active: var(--base-cristal-white, #ffffff);
    --button-border-clr: transparent;
    --button-border-clr-active: transparent;
    --button-bg: var(--brandbook-main, #4c33e4);
    --button-bg-active: #301ac4;
    --button-icon-size: 2rem;
    --button-icon-svg-size: 0.813rem;
    --button-icon-bg: rgba(255, 255, 255, 0.4);
    --button-icon-bg-active: rgba(255, 255, 255, 0.4);
    --button-button-duration: 200ms;
    width: 100%;
    min-height: var(--button-height);
    padding: 0 var(--button-pr) 0 var(--button-pl);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: var(--button-fs);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
 /* 150% */
    color: var(--button-clr);
    border: 1px solid var(--button-border-clr);
    border-radius: var(--button-border-radius);
    background: var(--button-bg);
    transition-property: color, background;
    transition-duration: var(--button-button-duration);
    outline: none;
}

.button:focus-visible {
    color: var(--button-clr-active);
    border-color: var(--button-border-clr-active);
    background: var(--button-bg-active);
}

.button:focus-visible .button__icon {
    background: var(--button-icon-bg-active);
}

@media (any-hover: hover) {
    .button:hover {
        color: var(--button-clr-active);
        border-color: var(--button-border-clr-active);
        background: var(--button-bg-active);
    }

    .button:hover .button__icon {
        background: var(--button-icon-bg-active);
    }
}

@media (any-hover: none) {
    .button:active {
        color: var(--button-clr-active);
        border-color: var(--button-border-clr-active);
        background: var(--button-bg-active);
    }

    .button:active .button__icon {
        background: var(--button-icon-bg-active);
    }
}

@media (min-width: 768px) {
    .button {
        --button-height: 3.5rem;
    }
}

.button__icon {
    flex: 0 0 var(--button-icon-size);
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--button-icon-bg);
    transition-property: background;
    transition-duration: var(--button-button-duration);
}

.button__icon svg {
    flex: 0 0 var(--button-icon-svg-size);
    width: var(--button-icon-svg-size);
    height: var(--button-icon-svg-size);
    display: block;
    fill: currentColor;
}

@media (min-width: 768px) {
    .button_sm {
        --button-height: 2.5rem;
        --button-fs: 0.875rem;
    }
}

.button_secondary {
    --button-height: 2.5rem;
    --button-fs: 0.875rem;
}

.button_light {
    --button-clr: var(--brandbook-main, #4c33e4);
    --button-clr-active: var(--base-cristal-white, #ffffff);
    --button-bg: var(--buttons-white, #fff);
    --button-bg-active: var(--brandbook-main, #4c33e4);
    --button-icon-bg: var(--gray-gray-30, #bcbccc);
}

.button_transparent {
    --button-clr: var(--brandbook-main, #4c33e4);
    --button-clr-active: var(--base-cristal-white, #ffffff);
    --button-bg: transparent;
    --button-bg-active: var(--brandbook-main, #4c33e4);
    --button-border-clr: var(--brandbook-main, #4c33e4);
    --button-border-clr-active: var(--brandbook-main, #4c33e4);
    --button-icon-bg: var(--gray-gray-30, #bcbccc);
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 768px) {
    .wrapper {
        padding: var(--header-height) 0 0 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1170px);
    --_padding-inline: var(--container-pi, 10px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--zIndex);
    }

    .header.active .header__menu {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header.active .header__menu-toggle .header__menu-icon-burger {
        display: none;
    }

    .header.active .header__menu-toggle .header__menu-icon-cross {
        display: block;
    }

    .header.scrolled .header__wrapper::after {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.header__wrapper {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.header__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(240, 241, 237, 0.05);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.2s;
}

@media (min-width: 768px) {
    .header__wrapper {
        padding: 0.625rem 0;
    }

    .header__wrapper::after {
        display: none;
    }
}

.header__logo {
    flex: 0 0 130px;
    display: block;
}

.header__logo img {
    width: 100%;
}

@media (min-width: 768px) {
    .header__logo {
        flex: 0 1 185px;
        min-width: 120px;
    }
}

.header__user,
.header__menu-toggle {
    flex: 0 0 1.857em;
    height: 1.857em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.571;
 /* 157.143% */
    color: var(--base-cristal-white);
    cursor: pointer;
    transition: color 0.2s linear, background 0.2s linear;
}

.header__user svg,
.header__menu-toggle svg {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
}

.header__user span,
.header__menu-toggle span {
    display: none;
}

@media (any-hover: hover) {
    .header__user:hover,
  .header__menu-toggle:hover {
        color: var(--buttons-yellow);
    }
}

@media (min-width: 768px) {
    .header__user,
  .header__menu-toggle {
        flex: 0 0 auto;
        height: 2.857em;
        padding: 0 1.143em;
        border-radius: 10px;
        background: var(--buttons-yellow);
    }

    .header__user svg,
  .header__menu-toggle svg {
        flex: 0 0 1.143em;
        width: 1.143em;
        height: 1.143em;
    }

    .header__user span,
  .header__menu-toggle span {
        padding: 0 0 0 0.714em;
        display: block;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .header__user:hover,
  .header__menu-toggle:hover {
        color: var(--brandbook-main);
        background: transparent;
    }
}

.header__user {
    border: 1px solid var(--brandbook-main);
}

.header__user_transparent {
    color: var(--brandbook-main);
    background: transparent;
}

@media (any-hover: hover) {
    .header__user_transparent:hover {
        color: var(--base-cristal-white);
        background: var(--brandbook-main);
    }
}

@media (max-width: 768px) {
    .header__user {
        display: none;
    }
}

.header__menu-toggle {
    color: var(--base-rich-black, #053969);
}

.header__menu-toggle .header__menu-icon-cross {
    display: none;
}

@media (min-width: 768px) {
    .header__menu-toggle {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__menu {
        --padding-top: calc(var(--header-height) + 25px);
        padding: var(--padding-top) var(--container-pi) 20px var(--container-pi);
        display: flex;
        flex-direction: column;
        gap: 0.938rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: scale(1.1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: 0.2s;
        background: var(--gray-gray-20, #f0f1ed);
    }

    .header__menu_default {
        --padding-top: calc(var(--header-height) + 10px);
    }

    .header__menu_default .header__actions .header__actions-wrapper {
        justify-content: flex-start;
    }

    .header__menu_default .header__actions .header__action {
        padding: 0.75em 0.6em;
        justify-content: flex-start;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .header__actions {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.header__actions-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .header__actions-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.938rem 1.25rem;
    }
}

@media (min-width: 1200px) {
    .header__actions-wrapper {
        gap: 0.938rem 3.125rem;
    }
}

.header__action {
    padding: 0.625em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.571;
 /* 157.143% */
    color: var(--base-rich-black, #053969);
    cursor: pointer;
    transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;
    border-radius: 0.5em;
}

.header__action.active {
    background: var(--base-cristal-white, #fff);
}

.header__action.active .header__action-icon {
    stroke: var(--buttons-yellow, #fee000);
}

.header__action.active .header__action-icon_fill {
    stroke: none;
    fill: var(--buttons-yellow, #fee000);
}

@media (min-width: 768px) {
    .header__action {
        padding: 0;
        display: block;
        font-size: 0.875rem;
        text-align: left;
        border-radius: 0;
        background: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .header__action.active {
        color: var(--base-rich-black, #053969);
        background: none;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .header__action:hover {
        border-bottom-color: currentColor;
    }
}

.header__action-icon {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    margin: 0 0.625em 0 0;
    display: block;
    stroke: var(--gray-gray-40, #bcbccc);
    transition: fill 0.2s linear, stroke 0.2s linear;
}

.header__action-icon_fill {
    stroke: none;
    fill: var(--gray-gray-40, #bcbccc);
}

@media (min-width: 768px) {
    .header__action-icon {
        display: none;
    }
}

@media (min-width: 768px) {
    .header__menu-button {
        display: none;
    }
}

.header__menu-icon {
    flex: 0 0 1.125rem;
    width: 1.125rem;
    height: 1.125rem;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
}

.footer {
    --mb: 20px;
    padding: 0 0 30px 0;
}

@media (min-width: 768px) {
    .footer {
        padding: 0 0 50px 0;
    }
}

@media (min-width: 992px) {
    .footer {
        --mb: 30px;
        padding: 0 0 60px 0;
    }
}

.footer__header {
    margin: 0 0 var(--mb) 0;
}

@media (min-width: 768px) {
    .footer__header {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        border: 3px solid var(--base-cristal-white, #fff);
        background: rgba(240, 241, 237, 0.05);
        -webkit-backdrop-filter: blur(11px);
        backdrop-filter: blur(11px);
    }
}

@media (min-width: 1200px) {
    .footer__header {
        padding: 30px;
    }
}

.footer__logo {
    max-width: 130px;
    margin: 0 0 var(--mb) 0;
    display: block;
}

.footer__logo img {
    width: 100%;
}

@media (min-width: 768px) {
    .footer__logo {
        flex: 0 0 170px;
        max-width: none;
        margin: 0 30px 0 0;
    }
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

@media (min-width: 768px) {
    .footer__contacts {
        justify-content: flex-end;
        gap: 20px;
    }
}

.footer__contact {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.333;
 /* 133.333% */
    color: var(--base-rich-black, #053969);
}

.footer__contact svg {
    flex: 0 0 0.889em;
    width: 0.889em;
    height: 0.889em;
    margin: 0 0.556em 0 0;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    transition: stroke 0.2s linear;
}

@media (any-hover: hover) {
    .footer__contact:hover svg {
        stroke: var(--buttons-yellow, #fee000);
    }
}

@media (min-width: 768px) {
    .footer__contact {
        flex: 0 0 auto;
    }
}

.footer__actions {
    margin: 0 0 var(--mb) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 576px) {
    .footer__actions {
        gap: 18px 24px;
    }
}

.footer__action {
    flex: 1 1 100%;
    display: block;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375;
 /* 150% */
    text-decoration: underline;
    color: var(--base-rich-black, #053969);
}

@media (min-width: 576px) {
    .footer__action {
        flex: 0 0 auto;
        font-size: 1rem;
        text-decoration: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        transition: border 0.2s linear;
    }
}

@media (min-width: 576px) and (any-hover: hover) {
    .footer__action:hover {
        border-bottom-color: currentColor;
    }
}

.footer__text,
.footer__partners {
    display: block;
    font-size: 0.75rem;
    line-height: 1.417;
 /* 141.667% */
    color: var(--gray-gray_50, #9393a3);
}

@media (max-width: 576px) {
    .footer__text,
  .footer__partners {
        text-align: justify;
    }
}

.footer__text,
.footer__label {
    margin: 0 0 0.938rem 0;
}

.footer__text a {
    text-decoration: underline;
    color: inherit;
}

@media (any-hover: hover) {
    .footer__text a:hover {
        text-decoration: none;
    }
}

.footer__label {
    display: block;
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.333;
 /* 133.333% */
    color: var(--gray-gray_50, #9393a3);
}

.footer__partners li:not(:last-child) {
    margin: 0 0 0.625rem 0;
}

.calc__wrapper {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 0 40px 0;
    position: relative;
}

@media (min-width: 576px) {
    .calc__wrapper {
        padding: 0 0 60px 0;
    }
}

@media (min-width: 768px) {
    .calc__wrapper {
        max-width: none;
        margin: 0;
        padding: 80px 0 60px 0;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
}

.calc__form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: var(--base-cristal-white, #fff);
    box-shadow: 0px 64px 134px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
    .calc__form {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .calc__form {
        flex: 0 1 26.563rem;
        padding: 30px;
        border-radius: 20px;
    }
}

.calc__group {
    margin: 0 0 40px 0;
}

@media (min-width: 576px) {
    .calc__group {
        margin: 0 0 35px 0;
    }
}

.calc__group-row {
    padding-bottom: 0.938rem;
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}

.calc__group-row .calc__current-value {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--base-rich-black);
}

.calc__sublabel,
.calc__output {
    display: block;
    font-size: 0.688rem;
    font-weight: 500;
    line-height: 1.273;
 /* 127.273% */
    color: var(--base-rich-black, #053969);
}

.calc__current-value {
    margin: 0 0 1.25rem 0;
    display: block;
    font-size: 1.688rem;
    font-weight: 600;
    line-height: 1.1;
 /* 110% */
    color: var(--base-rich-black, #053969);
}

@media (min-width: 576px) {
    .calc__current-value {
        margin: 0 0 0.938rem 0;
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .calc__current-value {
        font-size: 2.5rem;
    }
}

.calc__output {
    margin: 0 0 0.938rem 0;
}

.calc__submit {
    margin: auto 0 0 0;
}

.calc__image {
    width: 176px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.calc__image img {
    width: 100%;
}

@media (min-width: 768px) {
    .calc__image {
        width: 500px;
        top: auto;
        right: auto;
        left: 50%;
        bottom: -193px;
        transform: translate3d(calc(-50% + 30px), 0, 0);
    }
}

@media (min-width: 1200px) {
    .calc__image {
        width: 540px;
    }
}

.calc__top {
    margin: 0 0 1.563rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: -1;
}

.calc__top > div {
    padding: 0.222em 0.667em;
    margin: 0 0 0.556em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.333;
 /* 133.333% */
    color: var(--brandbook-more, #f22a52);
    border-radius: 83px;
    background: rgba(242, 42, 82, 0.14);
}

.calc__top > span {
    margin: 0 0 0.625rem 0;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
 /* 110% */
    color: var(--base-rich-black, #053969);
}

.calc__top > strong {
    display: block;
    font-size: 110px;
    font-weight: 600;
    line-height: 0.669;
 /* 67.03% */
    color: var(--base-rich-black, #053969);
}

@media (min-width: 768px) {
    .calc__top {
        flex: 0 1 auto;
        margin: 0 0 0 0;
    }

    .calc__top > div {
        font-size: 0.875rem;
    }

    .calc__top > span {
        margin: 0 0 0.938rem 0;
        font-size: 1.875rem;
    }

    .calc__top > strong {
        font-size: 220px;
    }
}

@media (min-width: 1200px) {
    .calc__top > div {
        font-size: 1.125rem;
    }

    .calc__top > span {
        font-size: 2.5rem;
    }

    .calc__top > strong {
        font-size: 311px;
    }
}

.calc__range {
    --height: 8px;
    --border-radius: 20px;
    --handle-size: 40px;
}

.calc__range_md {
    --height: 8px;
    --border-radius: 16px;
    --handle-size: 32px;
}

.calc__range.noUi-target {
    height: var(--height);
    padding: 0 calc(var(--handle-size) / 2);
    border-radius: var(--border-radius);
    background: var(--gray-gray-30, #e6e6f0);
    border: none;
    box-shadow: none;
}

.calc__range.noUi-target::before {
    content: "";
    height: 100%;
    width: calc(var(--handle-size) / 2 + 2px);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background: var(--brandbook-main, #fee000);
}

.calc__range.noUi-target .noUi-connects {
    border-radius: 0;
}

.calc__range.noUi-target .noUi-connect {
    background: var(--brandbook-main, #fee000);
}

.calc__range.noUi-target .noUi-handle {
    width: var(--handle-size);
    height: var(--handle-size);
    border-radius: 50%;
    border: 5px solid var(--brandbook-main, #fee000);
    top: calc(var(--height) / 2);
    right: 0;
    transform: translate3d(50%, -50%, 0);
    background: var(--base-cristal-white, #ffffff);
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
}

.calc__range.noUi-target .noUi-handle::before {
    display: none;
}

.calc__range.noUi-target .noUi-handle::after {
    width: 15px;
    height: 11px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: transparent;
    background-image: url("../images/calc/icon_01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.calc__range.noUi-target .noUi-pips {
    height: auto;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calc__range.noUi-target .noUi-value {
    position: static;
    transform: none;
    font-size: 0.688rem;
    font-weight: 500;
    line-height: 1.1;
 /* 127.273% */
    color: var(--gray-gray-40, #bcbccc);
}

.calc__range.noUi-target .noUi-marker {
    display: none;
}

@media (min-width: 576px) {
    .calc__range.noUi-target .noUi-pips {
        padding: 8px 0 0 0;
    }
}

.calc__ac {
    padding-bottom: 0.938rem;
    border-bottom: 1px solid var(--gray-gray-30);
}

.calc__ac-item.active .calc__ac-header {
    min-height: 0px;
}

.calc__ac-item.active .calc__ac-header .calc__ac-title {
    display: block;
}

.calc__ac-item.active .calc__ac-header .calc__ac-output {
    display: none;
}

.calc__ac-header {
    min-height: 2.063rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.625rem;
    transition: min-height 200ms;
}

.calc__ac-header .calc__ac-output-info:last-child {
    text-align: left;
}

.calc__ac-header .calc__ac-output-info strong {
    font-size: 0.75rem;
}

.calc__ac-title {
    display: none;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.2;
    color: var(--base-rich-black);
}

.calc__ac-output {
    display: flex;
    justify-content: space-between;
    gap: 0.938rem;
}

.calc__ac-output-info {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    font-size: 0.75rem;
    line-height: 1;
    color: var(--gray-gray-40);
}

.calc__ac-output-info:last-child {
    text-align: right;
}

.calc__ac-output-info strong {
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--base-rich-black);
}

.calc__ac-button {
    padding: 10px;
    margin: -10px;
    display: flex;
    align-items: center;
    gap: 0.313rem;
    font-weight: 500;
    font-size: 0.688rem;
    line-height: 1.27273;
    text-align: right;
    color: var(--gray-gray-40);
    background: none;
    border: none;
    transition: color 200ms;
}

.calc__ac-button svg {
    flex: 0 0 1.091em;
    width: 1.091em;
    aspect-ratio: 1;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    transition: transform 200ms;
}

.calc__ac-button:focus-visible {
    outline: 2px solid currentColor;
}

@media (any-hover: hover) {
    .calc__ac-button:hover {
        color: var(--brandbook-main);
    }
}

@media (any-hover: none) {
    .calc__ac-button:active {
        color: var(--brandbook-main);
    }
}

.calc__ac-button.active::before {
    content: attr(data-calc-open-text, "Свернуть");
}

.calc__ac-button.active span {
    display: none;
}

.calc__ac-button.active svg {
    transform: scale(-1);
}

.calc__ac-body {
    padding-top: 0.938rem;
    padding-inline: 15px;
    margin-inline: -15px;
    display: grid;
    gap: 0 0.938rem;
}

@media (min-width: 576px) {
    .calc__ac-body {
        grid-template-columns: repeat(2, 1fr);
    }

    .calc__ac-body .calc__ac-output {
        grid-column: 1/-1;
    }
}

.index__title {
    margin: 0 0 0.75em 0;
    display: block;
    font-size: clamp(1.5rem, 1.192rem + 1.54vw, 2.5rem);
    font-weight: 600;
    line-height: 1.1;
 /* 110% */
    color: var(--base-rich-black, #053969);
}

.index__get-money,
.index__paycards {
    margin: 0 0 40px 0;
}

@media (min-width: 768px) {
    .index__get-money,
  .index__paycards {
        margin: 0 0 50px 0;
    }
}

@media (min-width: 992px) {
    .index__get-money,
  .index__paycards {
        margin: 0 0 70px 0;
    }
}

@media (min-width: 1200px) {
    .index__get-money,
  .index__paycards {
        margin: 0 0 90px 0;
    }
}

.index__features,
.index__index-info,
.index__statistics,
.index__reviews,
.index__questions {
    margin: 0 0 40px 0;
}

@media (min-width: 768px) {
    .index__features,
  .index__index-info,
  .index__statistics,
  .index__reviews,
  .index__questions {
        margin: 0 0 50px 0;
    }
}

@media (min-width: 992px) {
    .index__features,
  .index__index-info,
  .index__statistics,
  .index__reviews,
  .index__questions {
        margin: 0 0 60px 0;
    }
}

@media (min-width: 1200px) {
    .index__features,
  .index__index-info,
  .index__statistics,
  .index__reviews,
  .index__questions {
        margin: 0 0 70px 0;
    }
}

@media (min-width: 768px) {
    .index__calc-bottom.calc {
        padding-top: 35px;
        padding-bottom: 105px;
    }
}

@media (max-width: 576px) {
    .get-money__title br {
        display: none;
    }
}

.get-money__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
}

@media (min-width: 768px) {
    .get-money__items {
        gap: 20px;
    }
}

.get-money__item {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--base-cristal-white, #fff);
    background: rgba(240, 241, 237, 0.05);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
}

@media (min-width: 768px) {
    .get-money__item {
        padding: 20px;
        border-radius: 20px;
        border-width: 3px;
    }
}

@media (min-width: 1200px) {
    .get-money__item {
        padding: 30px;
    }
}

.get-money__icon {
    flex: 0 0 52px;
    margin: 0 20px 0 0;
}

@media (min-width: 768px) {
    .get-money__icon {
        flex: 0 0 62px;
    }
}

.get-money__label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.333;
 /* 133.333% */
    color: var(--base-rich-black, #053969);
}

@media (min-width: 768px) {
    .get-money__label {
        font-size: 1.125rem;
    }
}

.paycards__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    background: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .paycards__body {
        padding: 40px;
        border-radius: 20px;
    }
}

@media (min-width: 1200px) {
    .paycards__body {
        min-height: 357px;
        padding: 60px;
    }
}

.paycards__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

@media (min-width: 576px) {
    .paycards__info {
        max-width: 22.5rem;
    }
}

@media (min-width: 1200px) {
    .paycards__info {
        flex: 1 1 auto;
    }
}

.paycards__subtitle {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4;
 /* 140% */
    color: var(--base-rich-black, #053969);
}

@media (min-width: 576px) {
    .paycards__subtitle {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .paycards__subtitle {
        font-size: 1.25rem;
    }
}

.paycards__logos {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(28px, 50px));
    justify-content: space-between;
    align-items: center;
    gap: 5px 20px;
}

.paycards__logos img {
    width: 100%;
}

@media (min-width: 576px) {
    .paycards__logos {
        display: none;
    }
}

.paycards__image {
    display: none;
}

@media (min-width: 576px) {
    .paycards__image {
        width: 38.462%;
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate3d(0, -50%, 0);
    }

    .paycards__image img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .paycards__image {
        right: 40px;
    }
}

@media (min-width: 1200px) {
    .paycards__image {
        width: 50.94%;
    }
}

.features__subtitle {
    margin: 0 0 1.25rem 0;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4;
 /* 140% */
    color: var(--base-rich-black, #053969);
}

@media (min-width: 768px) {
    .features__subtitle {
        max-width: 50.313rem;
        margin: 0 0 1.875rem 0;
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .features__subtitle {
        font-size: 1.25rem;
    }
}

.features__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
}

@media (min-width: 768px) {
    .features__items {
        gap: 15px;
    }
}

@media (min-width: 1200px) {
    .features__items {
        gap: 20px;
    }
}

.features__item {
    padding: 15px;
    display: flex;
    border-radius: 15px;
    border: 3px solid rgba(240, 241, 237, 0.05);
    background: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .features__item {
        box-shadow: 0px 64px 134px 0px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 1200px) {
    .features__item {
        padding: 30px;
        border-radius: 20px;
    }
}

.features__logo {
    flex: 0 0 52px;
    margin: 0 20px 0 0;
}

@media (min-width: 768px) {
    .features__logo {
        flex: 0 0 62px;
    }
}

.features__label {
    margin: 0 0 0.313rem 0;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.333;
 /* 133.333% */
    color: var(--base-rich-black, #053969);
}

@media (min-width: 768px) {
    .features__label {
        margin: 0 0 0.938rem 0;
        font-size: 1.125rem;
    }
}

.features__sublabel {
    display: block;
    font-size: 0.75rem;
    line-height: 1.417;
 /* 133.333% */
    color: var(--base-rich-black, #053969);
}

.index-info {
    --clr: var(--base-rich-black, #053969);
    --gap-block: 15px;
}

@media (min-width: 768px) {
    .index-info {
        --gap-block: 25px;
    }
}

@media (min-width: 1200px) {
    .index-info {
        --gap-block: 35px;
    }
}

.index-info__title {
    margin: 0 0 var(--gap-block) 0;
}

.index-info__head {
    margin: 0 0 var(--gap-block) 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: var(--gap-block) 24px;
}

.index-info__subtitle {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.357;
 /* 135.714% */
    color: var(--clr);
}

.index-info__text {
    font-size: 0.75rem;
    line-height: 1.417;
 /* 141.667% */
    color: var(--clr);
}

.index-info__label {
    margin: 0 0 var(--gap-block) 0;
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.333;
 /* 133.333% */
    color: var(--clr);
}

@media (min-width: 768px) {
    .index-info__label {
        font-size: 1.563rem;
    }
}

@media (min-width: 1200px) {
    .index-info__label {
        font-size: 1.875rem;
    }
}

.index-info__list {
    counter-reset: list-counter;
}

.index-info__item {
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
 /* 150% */
    color: var(--clr);
}

.index-info__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.index-info__item p {
    padding: 0.313em 0 0 0;
}

.index-info__item a {
    text-decoration: underline;
    color: inherit;
}

@media (any-hover: hover) {
    .index-info__item a:hover {
        text-decoration: none;
    }
}

.index-info__item::before {
    counter-increment: list-counter;
    content: counter(list-counter);
    flex: 0 0 1.929em;
    width: 1.929em;
    height: 1.929em;
    margin: 0 0.625rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--base-cristal-white);
    border-radius: 50%;
    background: var(--brandbook-main, #fee000);
}

@media (min-width: 768px) {
    .index-info__item {
        font-size: 1rem;
    }

    .index-info__item:not(:last-child) {
        margin: 0 0 20px 0;
    }

    .index-info__item::before {
        flex: 0 0 2em;
        width: 2em;
        height: 2em;
    }
}

.statistics__items {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 15px;
}

@media (min-width: 576px) {
    .statistics__items {
        padding: 30px;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
        gap: 20px;
        border-radius: 20px;
        background: var(--base-cristal-white, #fff);
        box-shadow: 0px 64px 134px 0px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 768px) {
    .statistics__items {
        padding: 40px;
    }
}

@media (min-width: 992px) {
    .statistics__items {
        padding: 60px;
    }
}

@media (max-width: 576px) {
    .statistics__item {
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        background: var(--base-cristal-white, #fff);
    }
}

.statistics__icon {
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--brandbook-main, #fee000);
}

.statistics__icon img {
    flex: 0 0 28px;
    width: 28px;
}

@media (min-width: 576px) {
    .statistics__icon {
        display: none;
    }
}

.statistics__value {
    margin: 0 0 0.2em 0;
    display: block;
    font-size: clamp(24px, 0.231rem + 6.35vw, 90px);
    font-weight: 600;
    line-height: 0.7;
    color: var(--base-rich-black, #053969);
}

@media (min-width: 576px) {
    .statistics__value {
        color: var(--brandbook-main, #fee000);
    }
}

.statistics__label {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.357;
 /* 135.714% */
    color: var(--base-rich-black, #053969);
}

.reviews {
    --negative-pi: calc(var(--container-pi) - var(--container-pi) * 2);
}

.reviews__slider .swiper {
    padding: 0 var(--container-pi);
    margin: 0 var(--negative-pi);
}

.reviews__slider .swiper-slide {
    height: auto;
}

@media (min-width: 1200px) {
    .reviews__slider .swiper {
        margin: 0;
        padding: 0;
    }
}

.reviews__slide {
    --gap-block: 10px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: var(--base-cristal-white, #fff);
}

.reviews__name {
    margin: 0 0 var(--gap-block) 0;
    display: block;
    font-size: 0.75rem;
    line-height: 1.667;
 /* 166.667% */
    color: var(--gray-gray-40, #bcbccc);
}

.reviews__comment {
    margin: 0 0 var(--gap-block) 0;
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
 /* 150% */
    color: var(--base-rich-black, #053969);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}

@media (min-width: 768px) {
    .reviews__comment {
        font-size: 1rem;
    }
}

.reviews__grade {
    margin: auto 0 0 0;
    display: grid;
    grid-template-columns: repeat(5, 16px);
    justify-content: start;
    gap: 4px;
}

.reviews__grade img {
    width: 100%;
}

.reviews__pagination {
    --swiper-pagination-color: var(--brandbook-main, #fee000);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: var(--gray-gray-40, #bcbccc);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    margin: 24px 0 0 0;
    display: flex;
    justify-content: center;
}

.reviews__pagination .swiper-pagination-bullet {
    transition: background 0.2s linear;
}

@media (any-hover: hover) {
    .reviews__pagination .swiper-pagination-bullet:hover {
        --swiper-pagination-bullet-inactive-color: var(
      --base-rich-black,
      #053969
    );
    }
}

@media (min-width: 768px) {
    .reviews__pagination {
        margin: 30px 0 0 0;
    }
}

@media (min-width: 1200px) {
    .reviews__pagination {
        margin: 40px 0 0 0;
    }
}

.questions {
    --padding: 15px;
    --icon-size: 0.625rem;
}

@media (min-width: 576px) {
    .questions {
        --padding: 20px;
        --icon-size: 0.875rem;
    }
}

.questions__item {
    border-radius: 10px;
    overflow: hidden;
    transition: background 0.2s linear;
}

@media (any-hover: hover) {
    .questions__item:hover {
        background: var(--base-cristal-white, #fff);
    }
}

.questions__item.active {
    background: var(--base-cristal-white, #fff);
}

.questions__item.active .questions__icon svg {
    transform: scale(-1);
}

.questions__item.active .questions__body .questions__answer {
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media (min-width: 576px) {
    .questions__item:not(:last-child) {
        margin: 0 0 10px 0;
    }
}

.questions__button {
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.333;
 /* 133.333% */
    color: var(--base-rich-black, #053969);
    cursor: pointer;
}

@media (min-width: 576px) {
    .questions__button {
        font-size: 1.125rem;
    }
}

.questions__icon {
    flex: 0 0 auto;
    padding: 0.278em 0 0 0;
    margin: 0 0 0 0.625rem;
}

.questions__icon svg {
    width: var(--icon-size);
    height: var(--icon-size);
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    transition: transform 0.2s linear;
}

.questions__body {
    padding: 0 var(--padding) var(--padding) var(--padding);
    margin: -10px 0 0 0;
}

.questions__answer {
    padding: 0 calc(var(--icon-size) + 0.625rem) 0 0;
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.357;
 /* 135.714% */
    color: var(--base-rich-black, #053969);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.2s;
}

@media (min-width: 576px) {
    .questions__answer {
        font-size: 0.875rem;
    }
}